@page "/testasync"
<div>
    <h3>@_message</h3>
</div>
@code {
    private string _message = "starting";



    protected async override Task OnInitializedAsync()
    {
        _message = "Sync Code running";
        await Task.Delay(2000);
        _message = "Async Code completed";
    }
}